@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container{
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*header*/

.page-header{
  font-weight: 700;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-height: 64px;
}

.header-menu{
  display: flex;
  margin: 0;
  margin-left: 70px;
  gap: 30px;
}

.site-navigation-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.user-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 70px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.navigation-link{
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-user-link.navigation-user-link-search::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/search.svg");
  background-size: contain;
}

.navigation-user-link.navigation-user-link-favorite::after{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/heart.svg");
  background-size: contain;
}

.header-button{
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  width: 156px;
}

/*main*/

.hero{
  background-image: url("../images/background-hero.jpg");
  background-size: 100% auto cover;
  background-repeat: no-repeat;
  background-color: #83B3D333;
  display: block;
  margin-bottom: 69px;
}

.hero::after {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/divider-background-hero.svg");
  background-size: contain;
}

.welcome-sedona{
  display: flex;
  margin: 0 auto;
  padding-top: 51px;
}

/*advantages*/
.advantage{
  margin: 0;
  padding: 0;
}

.advantage-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.sedona-city, .devilbridge{
  display: block;
}

.advantage-wrap, .advantage-item{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 400px;
  text-align: center;
  background-color: #83B3D31F;
}

.advantage-wrap{
  padding: 102px 85px;
}

.wrapwrap{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  padding: 112px 80px;
}

.advantage-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 620px;
  margin-bottom: 25px;
}

.advantage-dsc{
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.advantage-item-title{
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

.advantage-item-desc{
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.advantage-item.edgy{
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  flex-grow: 1;
  align-items: center;
}

.advantage-item-desc.edgy{
  color: #FFFFFF;
}

.advantage-item.tinted{
  background-color: #83B3D333;
}

/*come to sedona - and- reasons*/

.cometosedona{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.cometosedona-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 505px;
}

.cometosedona-desc{
  color: #333333;
  margin: 0;
  margin-bottom: 64px;
  width: 490px;
}

.reasons-list{
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 96px;
}

.reasons-item{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 81px 85px;
}

.reasons-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 30px;
}

.reasons-desc{
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.reasons-item.accent{
  background-color: #83B3D31F;
}

/*search-motel - brown-bottom*/

.search-motel{
  align-items: center;
  text-align: center;
  width: 592px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}

.search-motel-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-motel-desc {
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.search-motel-sedona-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  width: 376px;
}

/*news-letter*/
.newsletter{
  text-align: center;
}

.newsletter.elegant{
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-desc {
  color: #FFFFFF;
}

.button.newsletter-email-button{
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}

input{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.field{
  background-color: #F2F2F2;
}

/* footer */

.main-footer{
  flex-grow: 1;
  text-align: center;
}

.contacts{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 70px;
}

.socialmedia{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmedia-item{
  width: 47px;
  height: 40px;
}

.socialmedia-link-vk::after {
  content: "";
  display: block;
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/vkontakte.svg");
  background-size: contain;
}

.socialmedia-link-telegram::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/telegram.svg");
  background-size: contain;
}

.socialmedia-link-youtube::after {
  content: "";
  display: block;
  width: 22px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/youtube.svg");
  background-size: contain;
}

.telephone{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  width: 720px;
}

.html-academy-logo-footer::after{
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/html-academy.svg");
  background-size: contain;
}


/* каталог */

.hotel-search{
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: 100% auto cover;
  background-repeat:no-repeat;
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 28px;
  width: 114px;
}

.hotel-sedona-choose{
  margin-left: 70px;
  width: 1060px;
}

.inner-title{
  width: 495px;
  margin: 0;
  padding: 0;
}

.home-icon::before{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/home.svg");
  background-size: contain;
}

.inner-title{
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-item-catalog{
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.filter-hotels{
  width: 1060px;
  margin-left: 70px;
}

.catalog-filter{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.catalog-filter-group{
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
}


.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title.price-slider{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.price-submit{
  font-family: inherit;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.price-reset{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
}

.sorting-results-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #E5E5E5;
  color: #333333;
}

/* карточки */

.search-results{
padding-left: 70px;
}

.viewbutton.current-view::before{
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/view-cards.svg");
  background-size: contain;
}
.viewbutton-list-image::before{
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/view-palet.svg");
  background-size: contain;
}
.viewbutton-list::before{
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/view-list.svg");
  background-size: contain;
}

.sorting-results{
  display: flex;
  width: 1060px;
  justify-content: space-between;
}

.sort-view{
 gap: 70px;
 display: flex;
}

.view{
  display: flex;
  gap: 24px;
}


/* отельные карточки */

.hotel-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
}

.hotel-card-link{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-type, .hotel-card-price{
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-button.more{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.hotel-card-button.choosen{
  background-color: #7DB54F;
}

.hotel-card-button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.hotel-card-button.rating{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #F2F2F2;
  text-transform: uppercase;
  color: #333333;
}

/* пагинация */
.pagination{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}
.pagination-link{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-link.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}

/* подписка каталога */

.newsletter-title.inner{
  color: #000000;
}

.newsletter-desc.inner{
  color: #333333;
}
