@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container{
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 #00000033;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*header*/

.page-header{
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  max-height: 64px;
}

.header-menu{
  display: flex;
  margin: 0;
  margin-left: 70px;
  gap: 30px;
}

.site-navigation-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.site-navigation-item{
  margin: 20px 16px 20px 16px;
}

.navigation-link{
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link.current{
  border-bottom: 2px solid #756257;
  padding-bottom: 18px;
  box-sizing: border-box;
}

.navigation-link:hover{
  border-bottom: 2px solid #756257;
  padding-bottom: 18px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.user-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.navigation-user-link.search::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/search.svg");
  background-size: contain;
  margin: 22px 12px 22px 12px;
}

.navigation-user-link.favorite{
  text-decoration: none;
  position: relative;
  display: flex;
  width: 44px;
  height: 64px;
  align-items: center;
  justify-content: center;
}

.navigation-user-link.favorite::after{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/heart.svg");
  background-size: contain;
}

.likes-numbers{
  position: absolute;
  top: 11px;
  left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  font-family: inherit;
  font-weight: 400;
}

.user-menu-item{
  display: flex;
}

.header-button{
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 14px 0 14px 20px;
}

.header-button:hover{
  background-color: #615048;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.header-button:focus{
  background-color: #615048;
  outline: none;
}

.header-button:active{
  background-color: #756157;
  color: #FFFFFF4D;
}

.header-button:disabled{
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/*main*/

.hero{
  background-image: url("../images/background-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #83B3D333;
  display: block;
  margin-bottom: 69px;
}

.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/divider-background-hero.svg");
  background-size: cover;
}

.welcome-sedona{
  display: flex;
  margin: 0 auto;
  padding-top: 51px;
}

/*advantages*/
.advantage{
  margin: 0;
  padding: 0;
}

.advantage-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.sedona-city, .devilbridge{
  display: block;
}

.advantage-wrap, .advantage-item{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 400px;
  background-color: #83B3D31F;
}

.advantage-wrap{
  padding: 102px 85px;
  align-items: center;
  text-align: center;
}

.wrapwrap{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 230px;
  align-items: center;
  text-align: center;
  padding: 112px 80px;
}

.advantage-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 621px;
  margin-bottom: 25px;
  text-align: center;
}

.advantage-dsc{
  color: #333333;
  margin: 0;
  margin-bottom: 90px;
  text-align: center;
}

.advantage-item-title{
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom:62px;
  text-align: center;
  width: 175px;
}

.advantage-item-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 60px;
  height: 2px;
  left: 50%;
  background: #0000004D;
  transform: translateX(-50%);
}

.advantage-item-title.edgy::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 60px;
  height: 2px;
  left: 50%;
  background: #FFFFFF4D;
  transform: translateX(-50%);
}

.advantage-item-desc{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-align: center;
  width: 231px;
}

.advantage-item.edgy{
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  flex-grow: 1;
}

.advantage-item-desc.edgy{
  color: #FFFFFF;
}

.advantage-item.tinted{
  background-color: #83B3D333;

}

/*come to sedona - and- reasons*/

.cometosedona{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.cometosedona-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 505px;
}

/* картинки причин */

.reasons-title.home::before{
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/reason-icon-home.svg");
  background-size: cover;
  transform: translateX(100%);
  margin-bottom: 30px;
  margin-top: 81px;
}

.reasons-title.food::before{
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/reason-icon-food.svg");
  background-size: cover;
  transform: translateX(100%);
  margin-bottom: 30px;
  margin-top: 81px;
}

.reasons-title.souvenirs::before{
  content: "";
  display: block;
  width: 75px;
  height: 76px;
  background-image: url("../images/reason-icon-present.svg");
  background-size: cover;
  transform: translateX(100%);
  margin-bottom: 30px;
  margin-top: 81px;
}

/* картинки причин */

.cometosedona-desc{
  color: #333333;
  margin: 0;
  margin-bottom: 64px;
  width: 490px;
}

.reasons-list{
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-bottom: 96px;
}

.reasons-item{
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
}

.reasons-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: block;
  width: 230px;
  margin-bottom: 30px;
}

.reasons-desc{
  display: block;
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 81px;
}

.reasons-item.accent{
  background-color: #83B3D31F;
}

/*search-motel - brown-bottom*/

.search-motel{
  align-items: center;
  text-align: center;
  width: 592px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}

.search-motel-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-motel-desc {
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.search-motel-sedona-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  width: 376px;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-motel-sedona-btn:hover{
  background-color: #615048;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.search-motel-sedona-btn:focus{
  background-color: #615048;
  outline: none;
}

.search-motel-sedona-btn:active{
  background-color: #756157;
  color: #FFFFFF4D;
}

.search-motel-sedona-btn:disabled{
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/*news-letter*/

.newsletter-elegant{
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  display: flex;
}

.newsletter-all{
  display: flex;
  width: 684px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 104px;
  align-items: center;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.newsletter-form{
  display: flex;
  width: 684px;
}

.field{
  width: 452px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-desc {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  width: 475px;
  text-align: center;
}

.button.newsletter-email-button{
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  width: 232px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0 4px 4px 0;
}

.button.newsletter-email-button:hover{
  background-color: #68A2CA;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.button.newsletter-email-button:focus{
  background-color: #68A2CA;
  outline: none;
}

.button.newsletter-email-button:active{
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.button.newsletter-email-button:disabled{
  background-color: #E5E5E5;
  color: #FFFFFF4D;
}

.field{
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

/* footer */

.main-footer{
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contacts{
  display: flex;
  justify-content: space-between;
  width: 1060px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.socialmedia{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  width: 142px;
}

.socialmedia-item{
  width: 47px;
  height: 40px;
  position: relative;
}

.socialmedia-link{
  width: 47px;
  height: 40px;
}

.socialmedia-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.socialmedia-link:hover .socialmedia-icon{
  fill: #68A2CA;
}

.socialmedia-link:focus .socialmedia-icon{
  fill: #68A2CA;
  outline: none;
}

.socialmedia-link:active .socialmedia-icon{
  fill: #68A2CA4D;
}

.telephone{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  width: 720px;
}

.telephone:hover{
  color: #756157;
}

.telephone:focus{
  color: #756157;
  outline: none;
}

.telephone:active{
  color: #7561574D;
}

.html-academy-logo-footer{
display: flex;
align-items: center;
}

.html-academy-logo{
  fill: #000000;
}

.html-academy-logo-footer:hover .html-academy-logo{
  fill: #756157;
}

.html-academy-logo-footer:focus .html-academy-logo{
  fill: #756157;
  outline: none;
}

.html-academy-logo-footer:active .html-academy-logo{
  fill: #7561574D;
}

/* каталог */
.searching{
  display: flex;
  flex-direction: column;
}

.hotel-search{
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: 100% auto cover;
  background-repeat:no-repeat;
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.hotel-sedona-choose{
  margin-left: 70px;
  width: 1060px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.inner-title{
  width: 495px;
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  width: 114px;
  align-items: center;
}

.home-icon{
  display: block;
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #FFFFFF;
}

.home-icon:hover{
  fill: #FFFFFF99;
}

.home-icon:focus{
  fill: #FFFFFF99;
  outline: none;
}

.home-icon:active{
  fill: #FFFFFF4D;
}

.breadcrumbs-item-link:hover{
  color: #FFFFFF99;
}

.breadcrumbs-item-link:focus{
  color: #FFFFFF99;
  outline: none;
}

.breadcrumbs-item-link:active{
  color: #FFFFFF4D;
}

.breadcrumbs-item.catalog{
  background-image: url("../images/icons/hug.svg");
  background-repeat: no-repeat;
  background-size: 8px 20px;
}

.breadcrumbs-item-link{
  margin-left: 18px;
  width: 73px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.filter-hotels{
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.catalog-filter{
  display: flex;
}

.catalog-filter-group{
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group.type-chek{
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-group.type-radio{
  width: 151px;
  margin-right: 140px;
}

.controls-price{
  display: flex;
  gap: 2px;
  margin-bottom: 36px;
}

.numbermin.min{
  width: 139px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px 0 0 4px;
}

.numbermin.max{
  width: 139px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0 4px 4px 0;
  }

.controls{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.price-line{
  width: 288px;
  margin: 0;
}

.catalog-filter-group.price-slider.buttons{
  margin-left: 70px;
  width: 191px;
  margin-top: 56px;
  gap: 32px;
}

.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.catalog-filter-title.price-slider{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.price-submit{
  font-family: inherit;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  width: 191px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.price-submit:hover{
  background-color: #68A2CA;
  transition: background-color 250ms ease-in-out, color 250ms;
}

.price-submit:focus{
  background-color: #68A2CA;
  outline: none;
  transition: background-color 250ms ease-in-out, color 250ms;
}

.price-submit:active{
  background-color: #82B3D3;
  color: #FFFFFF4D;
  transition: background-color 250ms ease-in-out, color 250ms;
}

.price-submit:disabled{
  background-color: #E5E5E5;
  color: #FFFFFF;
  transition: background-color, color 250ms ease-in-out, color 250ms;
}

.price-reset{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid transparent;
  width: 191px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.price-reset:hover{
  opacity: 0.6;
  transition: opacity 350ms ease-in-out, color 350ms;
}

.price-reset:focus{
  outline: none;
  border: 3px solid #83B3D3;
  transition: border 350ms;
}

.price-resett:active{
  color: #FFFFFF4D
}

.price-reset:disabled{
  opacity: 0.1;
}

.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #E5E5E5;
  color: #333333;
}

/* карточки */

.search-results{
  width: 1060px;
  margin: 0 auto;
}

.sorting-results{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sorting-results-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sort-view{
  gap: 70px;
  display: flex;
}

.select-control{
  width: 292px;
  border: none;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
}

.view{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.view-toggle{
  display: flex;
  width: 48px;
  padding-top: 17px;
  padding-bottom: 17px;
  align-items: center;
  justify-content: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-toggle.current-view{
  border-color: #000000;
}

.view-toggle:hover{
  border-color: #000000;
  transition: border-color 350ms ease-in-out;
}

.view-toggle:focus{
  border-color: #68A2CA;
  transition: border-color 350ms ease-in-out;
  outline: none;
}

.view-toggle:active{
  border-color: #000000;
  transition: border-color 350ms ease-in-out;
}

/* отельные карточки */

.hotel-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  margin-bottom: 80px;
  position: relative;
}

.hotel-list::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 1px;
  background: #E6E6E6;
}

.hotel-card{
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  gap: 16px;
}

.hotel-card-img{
  display: block;
  margin: 0 auto;
}

.hotel-card-link{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-card-title, .hotel-type{
  margin: 0;
  padding: 0;
}

.hotel-type, .hotel-card-price{
  font-size: 18px;
  line-height: 21px;
}

.type-price{
  display: flex;
  justify-content: space-between;
  color: #333333;
}

.hotel-card-buttons{
  display: flex;
  justify-content: space-between;
}

.hotel-card-button.more{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.hotel-card-button.more:hover{
  background-color: #615048;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.hotel-card-button.more:focus{
  background-color: #615048;
  outline: none;
}

.hotel-card-button.more:active{
  background-color: #756157;
  color: #FFFFFF4D;
}

.hotel-card-button.more:disabled{
  background-color: #E5E5E5;
  color: #FFFFFF4D;
}

.hotel-card-button.choosen{
  background-color: #7DB54F;
}

.hotel-card-button.choosen:hover{
  background-color: #6C9E42;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.hotel-card-button.choosen:focus{
  background-color: #6C9E42;
  outline: none;
}

.hotel-card-button.choosen:active{
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.hotel-card-button.choosen:disabled{
  background-color: #E5E5E5;
  color: #FFFFFF4D;
}

.hotel-card-button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  width: 140px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.hotel-card-button:hover{
  background-color: #68A2CA;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.hotel-card-button:focus{
  background-color: #68A2CA;
  outline: none;
}

.hotel-card-button:active{
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.hotel-card-button:disabled{
  background-color: #E5E5E5;
  color: #FFFFFF4D;
}

.hotel-card-raiting{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.hotel-card-button.rating{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #F2F2F2;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.stars{
  width: 120px;
  height: 17px;
  display: block;
}

.stars::before{
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-size: contain;
  margin-right: 6px;
}

.stars.four{
  width: 94px;
}

.stars.three{
  width: 70px;
}

.stars.two{
  width: 50px;
}

/* пагинация */
.pagination{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  margin-bottom: 60px;
}

.pagination-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.pagination-item.click:hover{
  background-color: #68A2CA;
  outline: 1px solid #82B3D3;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.pagination-item.click:focus{
  background-color: #68A2CA;
  outline: none;
}

.pagination-item.click:active{
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-link:focus{
  outline: none;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-link{
  display: flex;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-link.pagination-current{
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-item.more{
  background-color: #FFFFFF;
  border-radius: 4px;
}

/* подписка каталога */

.newsletter-inner{
  display: flex;
  width: 100%;
  justify-content: center;
}

.newsletter-basic{
  display: flex;
  flex-direction: column;
  width: 684px;
  text-align: center;
  align-items: center;
  margin-bottom: 104px;
  margin-top: 96px;
}


.newsletter-title.inner{
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.newsletter-desc.inner{
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.newsletter-form-inner{
  display: flex;
  width: 684px;
}
