@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*header*/

.page-header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  font-weight: 700;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  align-items: center;
}

.site-navigation-item {
  position: relative;
  display: block;
  padding: 20px 16px;
}

.logo-sedona:active {
  opacity: 0.3;
  transition: opacity 350ms ease-in-out;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link:hover::after,
.navigation-link.current::after {
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  width: calc(100% - 16px * 2);
  height: 2px;
  background-color: #756257;
  content: "";
  z-index: 10;
}

.navigation-link:active {
  opacity: 0.6;
}

.logo-sedona {
  display: block;
  width: 138px;
  height: 64px;
  margin-right: 30px;
}

.logo-sedona:hover,
.logo-sedona:focus {
  opacity: 0.8;
  z-index: 10;
  transition: opacity 350ms ease-in-out;
}

.logo-sedona:active {
  opacity: 0.3;
  transition: opacity 350ms ease-in-out;
}

.logo {
  position: absolute;
  z-index: 10;
}

.user-menu {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-menu-item {
  display: flex;
}

.user-menu-item:hover {
  opacity: 0.7;
}

.navigation-user-link:focus {
  outline: none;
  opacity: 0.5;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link.search::before {
  display: block;
  width: 20px;
  height: 20px;
  margin: 22px 12px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.navigation-user-link.favorite {
  position: relative;
  display: flex;
  min-width: 44px;
  min-height: 64px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navigation-user-link.favorite::after {
  display: block;
  min-width: 20px;
  min-height: 20px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.likes-numbers {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  font-family: inherit;
  font-weight: 400;
}

.header-button {
  display: flex;
  justify-content: center;
  width: 160px;
  padding: 8px 34px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
}

.header-button:hover {
  background-color: #615048;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.header-button:focus {
  background-color: #615048;
  outline: none;
}

.header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/*main*/

.hero {
  position: relative;
  display: block;
  padding: 51px 0 82px;
  background-image: url("../images/background-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #68A2CA;
}

.hero::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../images/divider-background-hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
}

/*advantages*/

.advantage-title {
  margin: 69px auto 25px;
  max-width: 622px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantage-dsc {
  max-width: 700px;
  margin: 0 auto 90px;
  color: #333333;
  text-align: center;
}

.advantage-list {
  margin: 0 0 64px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.sedona-city,
.devilbridge {
  display: block;
  height: auto;
  object-fit: cover;
}

.advantage-item {
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-wrap {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 113px 85px;
  align-items: center;
  justify-content: center;
}

.advantage-item.has-image .advantage-wrap {
  padding: 102px 85px;
}

.advantage-item-title {
  position: relative;
  margin: 0 0 62px;
  max-width: 180px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantage-item-title::after {
  position: absolute;
  left: 50%;
  bottom: -32px;
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantage-item-desc {
  width: 232px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-item:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-item:nth-child(even) .advantage-item-desc {
  color: #333333;
}

.advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(odd) .advantage-item-desc {
  color: #333333;
}

.advantage-item.has-image {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantage-item.has-image .advantage-item-desc {
  color: #ffffff;
}

.advantage-item.has-image .advantage-item-title::after {
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

/*come to sedona - and- reasons*/

.cometosedona {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cometosedona-title {
  margin: 0 0 20px;
  padding: 0;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* картинки причин */

.home::before {
  background-image: url("../images/reason-icon-home.svg");
}

.food::before {
  background-image: url("../images/reason-icon-food.svg");
}

.souvenirs::before {
  background-image: url("../images/reason-icon-present.svg");
}

.reasons-title::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 75px;
  height: 72px;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

/* картинки причин */

.cometosedona-desc {
  width: 490px;
  margin: 0 0 64px;
  color: #333333;
}

.reasons-list {
  margin: 0 0 96px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.reasons-item {
  display: flex;
  flex-direction: column;
  padding: 81px 85px;
  align-items: center;
}

.reasons-title {
  position: relative;
  margin: 0 0 30px;
  padding: 102px 0 0;
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-desc {
  width: 230px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.reasons-list .reasons-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*search-motel - brown-bottom*/

.search-motel {
  width: 592px;
  margin: 0 auto 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-motel-title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-motel-desc {
  margin: 0 0 54px;
  padding: 0;
  color: #333333;
}

.search-motel-sedona-btn {
  width: 376px;
  padding: 8px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.search-motel-sedona-btn:hover {
  background-color: #615048;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.search-motel-sedona-btn:focus {
  background-color: #615048;
  outline: none;
}

.search-motel-sedona-btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* footer */

.main-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
}

.contacts {
  display: flex;
  width: 100%;
  padding: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.socialmedia {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.socialmedia-item {
  position: relative;
  width: 47px;
  height: 40px;
}

.socialmedia-link {
  display: block;
  width: 47px;
  height: 40px;
}

.socialmedia-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.socialmedia-link:hover .socialmedia-icon {
  fill: #68a2ca;
}

.socialmedia-link:focus .socialmedia-icon {
  fill: #68a2ca;
  outline: none;
}

.socialmedia-link:active .socialmedia-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.telephones {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  padding: 3px 0;
  align-items: center;
  justify-content: center;
}

.telephone {
  padding: 2px 12px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.telephone:hover {
  color: #756157;
}

.telephone:focus {
  color: #756157;
  outline: none;
}

.telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-logo-footer {
  display: flex;
  align-items: center;
}

.html-academy-logo {
  fill: #000000;
}

.html-academy-logo-footer:hover .html-academy-logo {
  fill: #756157;
}

.html-academy-logo-footer:focus .html-academy-logo {
  fill: #756157;
  outline: none;
}

.html-academy-logo-footer:active .html-academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

/*модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
  z-index: 30;
}

.modal-container-open {
  z-index: 30;
}

.modal {
  position: relative;
  margin: auto;
  padding: 65px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
  transition: background-color 0.3s ease-out;
}

.modal-close-button:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
  transition: border 0.1s ease-out;
}

.modal-close-button:active .close-button-modal {
  opacity: 0.3;
  transition: opacity 0.2s ease-out;
}

.close-button-modal {
  fill: #000000;
}

.modal-title {
  width: 500px;
  margin: 0 0 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.booking-fieldset {
  margin: 0;
  padding: 0;
  gap: 46px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  line-height: 20px;
}

.with-tooltip {
  gap: 82px;
}

.modal-submit-button.button-link {
  width: 577px;
  margin: 48px 0 0;
  padding: 18px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.button-link:hover {
  background-color: #68a2ca;
}

.button-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-link:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.modal-submit-button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.booking-fieldset.long-fieldset {
  width: 577px;
  margin-bottom: 23px;
  align-items: flex-start;
  line-height: 24px;
  gap: 0;
}

.booking-date-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.booking-label {
  font-size: 20px;
}

.booking-label.long {
  margin-top: 12px;
}

.adult-count,
.booking-label.kids {
  max-width: 91px;
}

.info-massage {
  width: 371px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.warning {
  color: #ff5757;
}

.booking-date-input {
  width: 440px;
  padding: 12px 60px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.booking-date-input:hover {
  background-color: #e5e5e5;
}

.booking-date-input:focus {
  outline: 3px solid #83b3d3;
}

.booking-fieldset.long-fieldset:focus-within .infomassage {
  color: #333333;
}

.booking-fieldset.long-fieldset:focus-within .warning {
  color: #ff5757;
}

.numberguest {
  width: 31px;
  padding: 14px 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  -moz-appearance: textfield;
}

.numberguest::-webkit-outer-spin-button,
.numberguest::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberguest:focus {
  outline: none;
}

.booking-guest-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.decrease-increase {
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.decrease-increase-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.decrease-increase:hover .decrease-increase-icon {
  fill: #000000;
}

.decrease-increase:focus .decrease-increase-icon {
  fill: #000000;
}

.decrease-increase:focus {
  outline: none;
  border: 3px solid #82b3d3;
  border-radius: 4px;
}

.decrease-increase:active .decrease-increase-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 3px;
  display: block;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../images/icons/tooltiphover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 12px;
}

.tooltip-content {
  position: absolute;
  left: 50%;
  width: 216px;
  margin-top: 15px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  visibility: hidden;
  transition: visibility 0s linear 0.4s;
}

.tooltip-button:hover + .tooltip-content,
.tooltip-button:focus + .tooltip-content,
.tooltip-content:hover {
  visibility: visible;
  transition-delay: 0s;
}

.tooltip-content::before {
  position: absolute;
  top: -8px;
  left: 50%;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333333;
  content: "";
}

/* каталог */

.searching {
  display: flex;
  flex-direction: column;
}

.hotel-search {
  padding: 35px 70px 70px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #ffffff;
}

.hotel-sedona-choose {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.inner-title {
  width: 495px;
  margin: 0 0 8px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-menu {
  width: 114px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.home-icon {
  width: 13px;
  height: 15px;
  display: block;
  fill: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.home-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.home-icon:focus {
  fill: rgba(255, 255, 255, 0.6);
  outline: none;
}

.home-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item-link {
  width: 73px;
  margin-left: 18px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.breadcrumbs-item-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item-link:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs-item-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item.catalog {
  background-image: url("../images/icons/hug.svg");
  background-repeat: no-repeat;
  background-size: 8px 20px;
}

/* фильтры по гостиницам*/

.filter-hotels {
  width: 100%;
  display: flex;
}

.catalog-filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.wrap-chek-radio {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 70px;
}

.wrap-price-buttons {
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.type-chek {
  width: 151px;
}

.type-radio {
  width: 151px;
}

.price-slider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.price-range-minmax {
  margin-bottom: 36px;
  display: flex;
  gap: 2px;
}

.input-wrapper {
  position: relative;
  width: 143px;
}

.number-minmax {
  width: 100%;
  padding: 12px 45px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  -moz-appearance: textfield;
}

.number-minmax:hover {
  background-color: #e5e5e5;
  transition: background-color 350ms;
}

.number-minmax:focus {
  outline: 3px solid #83b3d3;
  transition: outline 300ms;
}

.number-minmax:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.min {
  border-radius: 4px 0 0 4px;
}

.max {
  border-radius: 0 4px 4px 0;
}

.number-minmax::-webkit-outer-spin-button,
.number-minmax::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-label-text {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  pointer-events: none;
}

/*rage bar*/

.range {
  padding: 8px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  left: 10px;
  width: 206px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  left: -10px;
}

.toggle-max {
  right: -10px;
}

/*rage bar*/

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.controls {
  position: relative;
  padding-left: 36px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.controls:not(:last-child) {
  margin-bottom: 16px;
}

.controls::before {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  content: "";
}

.controls.radiotype::before {
  border-radius: 50%;
}

.checkbox-type::before {
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .catalog-filter-item::before {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 6px;
  height: 11px;
  border: solid #3f5e72;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: "";
}

.control-input[type="radio"] + .catalog-filter-item::before {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .catalog-filter-item::before {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.controls:has(.control-input:disabled) {
  opacity: 0.6;
  cursor: not-allowed;
}

.controls:hover {
  opacity: 0.6;
  transition: opacity 350ms;
}

.controls:focus-within::before {
  outline: 3px solid #83b3d3;
  transition: outline 350ms;
}

.controls:active {
  opacity: 0.3;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.price-submit {
  width: 191px;
  padding: 8px 5px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.price-submit:hover {
  background-color: #68a2ca;
  transition: background-color 250ms ease-in-out, color 250ms;
}

.price-submit:focus {
  background-color: #68a2ca;
  outline: none;
  transition: background-color 250ms ease-in-out, color 250ms;
}

.price-submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
  transition: background-color 250ms ease-in-out, color 250ms;
}

.price-submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.price-reset {
  width: 191px;
  padding: 5px 2px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.price-reset:hover {
  opacity: 0.6;
  transition: opacity 350ms ease-in-out, color 350ms;
}

.price-reset:focus {
  border: 3px solid #83b3d3;
  outline: none;
  transition: border 350ms;
}

.price-resett:active {
  color: rgba(255, 255, 255, 0.3);
}

.price-reset:disabled {
  opacity: 0.1;
  pointer-events: none;
}

/* карточки */

.search-results {
  width: 100%;
  padding: 50px 70px 60px;
}

.sorting-results {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-results-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  padding: 12px 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
  outline: none;
  transition: border-color 550ms ease-in-out;
}

.select-control:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.sort-view {
  gap: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.view {
  width: 160px;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.view-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-toggle.current-view {
  border-color: #000000;
}

.view-toggle:hover {
  border-color: #000000;
  transition: border-color 350ms ease-in-out;
}

.view-toggle:focus {
  border-color: #68a2ca;
  transition: border-color 350ms ease-in-out;
  outline: none;
}

.view-toggle:active {
  border-color: #000000;
  transition: border-color 350ms ease-in-out;
}

/* отельные карточки */

.hotel-list {
  margin: 0 auto;
  padding: 0 0 40px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-items: center;
}

.hotel-card-img {
  display: block;
  margin: 0 auto;
}

.hotel-card-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.hotel-card-link:hover {
  filter: saturate(1.6);
  transition: 350ms ease-in-out;
}

.hotel-card-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 3px;
  filter: saturate(1.6);
  transition: 350ms ease-in-out;
}

.hotel-card-link:active {
  opacity: 0.7;
}

.hotel-card-title {
  margin: 16px 0 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-type {
  margin: 0;
}

.hotel-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-button {
  font-family: inherit;
  width: 140px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.hotel-card-button.more {
  text-decoration: none;
  background-color: #756157;
}

.card-button-rating {
  width: 140px;
  margin: 0;
  padding: 9px 6px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-button.choosen {
  background-color: #7db54f;
  border: none;
}

.wishlist {
  border: none;
}

.hotel-card-button.more:hover {
  background-color: #615048;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.hotel-card-button.more:focus {
  background-color: #615048;
  outline: none;
}

.hotel-card-button.more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button.choosen:hover {
  background-color: #6c9e42;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.hotel-card-button.choosen:focus {
  background-color: #6c9e42;
  outline: none;
}

.hotel-card-button.choosen:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button.choosen:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.hotel-card-button.wishlist:hover {
  background-color: #68a2ca;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.hotel-card-button.wishlist:focus {
  background-color: #68a2ca;
  outline: none;
}

.hotel-card-button.wishlist:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button.wishlist:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.stars {
  width: 120px;
  height: 37px;
  display: flex;
  align-items: center;
}

.stars::before {
  width: 100%;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-size: contain;
  content: "";
}

.four {
  width: 89px;
}

.three {
  width: 66px;
}

.two {
  width: 42px;
}

/* пагинация */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  min-width: 60px;
  height: 60px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 1px solid transparent;
}

.current-page {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.next-group-pages {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  pointer-events: none;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  border-color: #82b3d3;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

/* подписка каталога */

.newsletter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.newsletter-wrap {
  width: 684px;
  margin: 96px 0 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.newsletter-title {
  width: 475px;
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-desc {
  width: 475px;
  margin: 0 0 54px;
  padding: 0;
  color: #333333;
}

.newsletter-form {
  margin: 0 auto;
  display: flex;
}

.field {
  width: 452px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.field:hover {
  background-color: #e5e5e5;
  transition: background-color 250ms;
}

.field:focus {
  outline: 3px solid #83b3d3;
  transition: outline 250ms;
}

.field:disabled {
  opacity: 0.7;
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.newsletter-button {
  width: 232px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.newsletter.elegant {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #ffffff;
}

.newsletter.elegant .newsletter-desc {
  color: #ffffff;
}

.newsletter-button:hover {
  background-color: #68a2ca;
  transition: background-color 350ms ease-in-out, color 350ms;
}

.newsletter-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}
